<ion-view title="Menú del día">
    <ion-content class="has-header" has-bouncing="true">
        <ion-refresher
                pulling-text="Desliza hacia abajo para refrescar.."
                on-refresh="refreshMenu()">
        </ion-refresher>
        <ion-list can-swipe="true" ng-hide="geolocError">
            <ion-item collection-repeat="menu in menus" class="item item-text-wrap item-avatar menu-list" href="#/app/menu/{{menu.id}}"
                      item-height="120px">
                <img class="square-image" src="data:image/{{menu.logo.logoExtension}};base64,{{menu.logo.logoBase64}}" />
                <div class="row menu-list-title">
                    <div class="col">
                        <p>{{menu.name}}</p>
                    </div>
                </div>
                <div class="row secondary-text">
                    <div class="col">
                        <p><span class="small-price">${{menu.price}}</span></p>
                        <p><span class="small-info">{{menu.nearestLocation.restaurantName}} a {{menu.nearestLocation.distance | distance }}</span></p>
                    </div>
                </div>
                <!--<ion-option-button class="favoriteMenu button-stable" ng-click="favorite(menu)">-->
                <!--<div class="row row-center">-->
                <!--<i class="icon ion-ios7-star star" ng-class="{'active': menu.favorite}"></i>-->
                <!--</div>-->
                <!--</ion-option-button>-->
            </ion-item>
            <ion-item ng-if="menus.length == 0" class="item item-text-wrap item-icon-left">
                <i class="icon ion-sad-outline"></i>
                <p class="no-result-title">Ups! No encontramos platos del d&iacute;a para hoy.</p>
                <p>Estamos trabajando para conseguir los mejores platos cerca de vos.</p>
            </ion-item>
            <ion-item ng-if="menus.length == 0" class="item item-text-wrap item-icon-left" ng-click="suggestModal.show()">
                <i class="icon ion-chatbubble-working"></i>
                <p>Mientras tanto ayudanos sugiri&eacute;nos locales que te gusten</p>
            </ion-item>
        </ion-list>
        <div class="row" ng-if="geolocError">
            <div class="col">
                No se ha podido encontrar tu ubicaci&oacute;n. ({{gpsError}})
            </div>
        </div>
        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded"
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
