/* Empty. Add your own CSS if you like */

.align-right{
    text-align: right;
}

.store-list .restaurant-name {
    padding-left:0;
}

.store-list .item-content {
    padding-right: 20px;
    height: 90px;
}

.restaurant-list .item-content {
    padding-right: 20px;
    height: 95px;
}

.platform-android .tabs{
    /*height: 35px;*/
}

.platform-android .tabs-striped .tabs, .platform-android .tabs-striped .tabs {
    background-color: #F44336;
}


[nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar{
    background-color: #F44336;
}

.platform-android .tabs-striped .tabs, .platform-android .tabs-striped .tabs a {
    color: #fff;
}

.platform-android .tab-item .icon {
    display: none;
}

.platform-android .bar-blue {
    background-color: #F44336;
    border-color: #F44336;
}

.platform-ios .bar-blue {
    background-color: #F44336;
    border-color: #F44336;
}
.bar.bar-stable {
    background-color: #F44336;
    border-color: #F44336;
}

.bar.bar-stable .title{
    color: #fff;
}

.platform-android .bar-blue .title.title-left{
    padding-left: 12px;
}

.platform-android .bar-blue .icon{
    color: #fff;
}

.platform-android .bar-blue .title.title-left.header-item{
    color: #fff;
}

.platform-ios .bar-stable .title{
    color: #fff;
}

.platform-ios .secondary-action a{
    color: #fff;
}

.platform-android .tabs-top.tabs-striped .tab-item.tab-item-active,
.platform-android .tabs-top.tabs-striped .tab-item.active,
.platform-android .tabs-top.tabs-striped .tab-item.activated{
    border-width: 0px 0px 2px 0px !important;
    border-color: #fff;
}

.platform-android .tabs-icon-top > .tabs .tab-item,
.platform-android .tabs-icon-top.tabs .tab-item,
.platform-android .tabs-icon-bottom > .tabs .tab-item,
.platform-android .tabs-icon-bottom.tabs .tab-item{
    font-size: 13px;
    line-height: 50px;
}

.menu-list .item-content {
    padding-right: 5px;
}

.menuDetail .header-title{
    margin-top: 15px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.menuDetail .header-title .col-75 {
    /*padding: 0 8px 0 15px;*/
}

.menuDetail .header-title .menu-title h4{
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    margin-top: 0;
}

.menuDetail .header-title .menu-title .menu-price{
    color: #d23f31;
    font-size: 18px;
    margin-top: 0;
}

.menuDetail .header-title .price{
    background-color: #64DD17;
    border-radius: 4px;
    text-align: center;
}

.menuDetail .header-title .price h4{
    font-size: 20px;
    color: #FFF;
}

.menuDetail .divider{
    margin-top: 20px;
    padding: 10px 10px 0 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.menuDetail .divider.first-divider{
    margin-top: 0px;
}

.menuDetail .divider .col{
    color: rgba(0, 0, 0, 0.26);
}

.menuDetail .description{
    margin-top: 10px;
    padding: 0 10px 0 10px;
    font-size: 15px;
}

.action-buttons-footer{
    height: 100px;
    background: none;
}

.action-buttons{
    background-color: rgba(255, 255, 255, 0.75);
    height: 94px;
}

.action-buttons .col{
    text-align: center;
}

.menuDetail.scroll-content{
    height: 100%;
}

.menuDetail .store-title{
    padding-top: 20px;
    padding-left:13px;
    padding-bottom: 0;
}

.mapContent .scroll{
    height: 100%;
}

.mapContent .map{
    height: 100%;
}

.favoriteMenu .icon {
    color: #838383;
}

.favoriteMenu .icon.active {
    color: #e4c613;
}

.secondary-action{
    padding: 0 15px 0 0;
}

.secondary-action a {
    font-size: 12px;
    text-decoration: none;
    color: #444;
}

.platform-android .secondary-action a {
    color: #fff;
}

.myProfile .icon {
    color: #474747;
}

.commentsForm textarea{
    height: 150px;
}

.commentsForm .button{

}

.commentsForm .title, .commentsForm span{
    color: #fff;
}

.locationDetail a{
    text-decoration: none;
    color: #444;
}

.locationDetail .icon{
    font-size: 35px;
    color: #d23f31;
}

.locationDetail .phone .icon {
   font-size: 14px;
    padding-right: 10px;
}

.platform-ios ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
.platform-ios ion-tabs.tabs-color-active-positive .tab-item.active,
.platform-ios ion-tabs.tabs-color-active-positive .tab-item.activated{
    color: #F44336;
}

.bar-stable .button.button-clear {
    color: #fff;
}

/*SIDE MENU*/
.side-menu{
    background-color: #E4E4E4;
}


.side-menu .icon {
    color: #F44336;
}

.menu-no-result p{
    text-align: center;
    font-size: 12px;
}.menu-no-result .no-result-title{
    font-size: 14px;
   padding-bottom: 8px;
}

.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content{
    padding-left: 60px;
}

 .secondary-text p{
     color: #a1a1a1;
 }
 
 .secondary-text span.small-info{
     font-size: 90%;
 }
 
 .secondary-text span.info{
     float: right;
 }
 
 .menu-list-title{
     padding-bottom: 0;
     padding-top: 0;
 }
 
 .menu-list-title .col{
     padding-top: 0;
 }
 
 .square-image {
     border-radius: 0!important;
 }
 
 .small-price{
     
 }
 
 .small-price span{
     color: #d23f31;
     font-size: 15px;
     float: right;
 }
 
 span.distance .icon{
     font-size: 15px;
 }
 span.distance{
     font-size: 13px;
     color:#a1a1a1;
     margin-left: 5px;
 }
  
  .combo{
      margin-top:3px;
  }
  
 .combo .icon-extra{
     font-size: 14px;
     background-color: #e4c613;
     padding-left: 5px;
     padding-right: 5px;
     color: #fff;
     border-radius: 3px;
 }


